html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
        
   
} 
.ba3id{
    width: 100%;

}